In [16]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [17]:
# setting path

path = r'/Users/brad/Desktop/Instacart Basket Analysis'

In [18]:
# Importing the orders_products_combined pkl file
orders_products_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_v2.pkl'))
print(path)

/Users/brad/Desktop/Instacart Basket Analysis

# Exc 4.7

In [19]:
# Check

orders_products_merged.head()

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,eval_set,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0_y,product_name,aisle_id,department_id,prices,_merge
0,0,0,2539329,1,prior,1,2,8,NaN,196,1,0,195,Soda,77,7,9.0,both
1,1,1,2398795,1,prior,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,both
2,2,2,473747,1,prior,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,both
3,3,3,2254736,1,prior,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,both
4,4,4,431534,1,prior,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,both

In [25]:
#create a subset
df = orders_products_merged[:1000000]

In [26]:
df.shape

(1000000, 18)

If-statements with User-defined Functions

In [27]:
# Defining function

def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [28]:
# Apply the function

df['price_range'] = df.apply(price_label, axis=1)

/var/folders/fl/gm58930n2t5f6cf83b_9fgqr0000gp/T/ipykernel_67749/93659844.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [29]:
# Counting occurrences of unique values (includes missing values, if any)

df['price_range'].value_counts(dropna = False)

price_range
Mid-range product    756450
Low-range product    243550
Name: count, dtype: int64

In [30]:
# checking max value within the 'prices' column (in subset)

df['prices'].max()

14.8

# If-statements with the loc() function

In [31]:
# creating conditions
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

/var/folders/fl/gm58930n2t5f6cf83b_9fgqr0000gp/T/ipykernel_67749/3409439025.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [32]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [33]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [34]:
df['price_range_loc'].value_counts(dropna = False)

price_range_loc
Mid-range product    756450
Low-range product    243550
Name: count, dtype: int64

# If-statements with For-loops

In [35]:
# Counting number of order per day
orders_products_merged['orders_day_of_the_week'].value_counts(dropna = False)

orders_day_of_the_week
0    6209632
1    5665830
6    4500246
2    4217766
5    4209449
3    3844096
4    3787193
Name: count, dtype: int64

In [36]:
# Creating container
result = []

In [37]:
# Adding elements

for value in orders_products_merged['orders_day_of_the_week']:
  if value == 0:
    result.append('Busiest day')
  elif value == 4:
    result.append('Least busy')
  else:
    result.append('Regularly busy')

In [38]:
orders_products_merged['busiest_day'] = result

In [39]:
orders_products_merged['busiest_day'].value_counts(dropna = False)

busiest_day
Regularly busy    22437387
Busiest day        6209632
Least busy         3787193
Name: count, dtype: int64

Question 2: Suppose your clients have changed their minds about the labels you created in your “busiest_day” column. Now, they want “Busiest day” to become “Busiest days” (plural). This label should correspond with the two busiest days of the week as opposed to the single busiest day. At the same time, they’d also like to know the two slowest days. Create a new column for this using a suitable method

In [40]:
# Counting number of orders per day 

orders_products_merged['orders_day_of_the_week'].value_counts(dropna = False)

orders_day_of_the_week
0    6209632
1    5665830
6    4500246
2    4217766
5    4209449
3    3844096
4    3787193
Name: count, dtype: int64

In [41]:
# Creating empty shell

result2 = []

In [42]:
# Adding new labels

for value in orders_products_merged['orders_day_of_the_week']:
  if value == 0 or value ==1:
    result2.append('Busiest days')
  elif value == 4 or value == 3:
    result2.append('Slowest days')
  else:
    result2.append('Regularly days')

In [43]:
orders_products_merged['busiest_days'] = result2

In [46]:
# Adding new labels

for value in orders_products_merged['orders_day_of_the_week']:
  if value == 0 or value ==1:
    result2.append('Busiest days')
  elif value == 4 or value == 3:
    result2.append('Slowest days')
  else:
    result2.append('Regularly days')

In [47]:
# Check
orders_products_merged.head()

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,eval_set,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0_y,product_name,aisle_id,department_id,prices,_merge,busiest_day,busiest_days
0,0,0,2539329,1,prior,1,2,8,NaN,196,1,0,195,Soda,77,7,9.0,both,Regularly busy,Regularly days
1,1,1,2398795,1,prior,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,both,Regularly busy,Slowest days
2,2,2,473747,1,prior,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,both,Regularly busy,Slowest days
3,3,3,2254736,1,prior,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,both,Least busy,Slowest days
4,4,4,431534,1,prior,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,both,Least busy,Slowest days

Question 3: Check the values of this new column for accuracy. Note any observations in markdown format

In [48]:
orders_products_merged['busiest_day'].value_counts(dropna = False)

busiest_day
Regularly busy    22437387
Busiest day        6209632
Least busy         3787193
Name: count, dtype: int64

Question 4: When too many users make Instacart orders at the same time, the app freezes. The senior technical officer at Instacart wants you to identify the busiest hours of the day. Rather than by hour, they want periods of time labeled “Most orders,” “Average orders,” and “Fewest orders.” Create a new column containing these labels called “busiest_period_of_day.”

In [49]:
# Checking columns

orders_products_merged.head()

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,eval_set,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0_y,product_name,aisle_id,department_id,prices,_merge,busiest_day,busiest_days
0,0,0,2539329,1,prior,1,2,8,NaN,196,1,0,195,Soda,77,7,9.0,both,Regularly busy,Regularly days
1,1,1,2398795,1,prior,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,both,Regularly busy,Slowest days
2,2,2,473747,1,prior,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,both,Regularly busy,Slowest days
3,3,3,2254736,1,prior,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,both,Least busy,Slowest days
4,4,4,431534,1,prior,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,both,Least busy,Slowest days

In [50]:
# Creating dataframe with counts of orders per hour

counts = orders_products_merged['order_hour_of_day'].value_counts().rename_axis('hour').reset_index(name='counts')

In [51]:
counts

    hour   counts
0     10  2764390
1     11  2738585
2     14  2691563
3     15  2664522
4     13  2663272
5     12  2620800
6     16  2537469
7      9  2456661
8     17  2089452
9      8  1719952
10    18  1637922
11    19  1259382
12    20   977017
13     7   891928
14    21   796362
15    22   634737
16    23   402612
17     6   290770
18     0   218942
19     1   115786
20     5    88057
21     2    69431
22     4    53283
23     3    51317

In [52]:
# Creating list showing the percentiles for the value counts of the column 'order_hour_of_day'

orders = list(orders_products_merged['order_hour_of_day'].value_counts().quantile([0.25, 0.5, 0.75]))

In [53]:
orders

[272813.0, 1118199.5, 2558301.75]

Creating Lists

In [54]:
few = list(counts.loc[counts['counts'] <= orders[0]]['hour'])

In [55]:
average = list(counts[(counts['counts'] > orders[0]) & (counts['counts'] < orders[2])]['hour'])

In [56]:
most = list(counts.loc[counts['counts'] >= orders[2]]['hour'])

Creating new column with labels

In [57]:
orders_products_merged.loc[orders_products_merged['order_hour_of_day'].isin(few),'busiest_period_of_day'] = 'Fewest orders'

In [58]:
orders_products_merged.loc[orders_products_merged['order_hour_of_day'].isin(average),'busiest_period_of_day'] = 'Average orders'

In [59]:
orders_products_merged.loc[orders_products_merged['order_hour_of_day'].isin(most),'busiest_period_of_day'] = 'Most orders'

In [60]:
# Check 1

orders_products_merged.head()

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,eval_set,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,...,reordered,Unnamed: 0_y,product_name,aisle_id,department_id,prices,_merge,busiest_day,busiest_days,busiest_period_of_day
0,0,0,2539329,1,prior,1,2,8,NaN,196,...,0,195,Soda,77,7,9.0,both,Regularly busy,Regularly days,Average orders
1,1,1,2398795,1,prior,2,3,7,15.0,196,...,1,195,Soda,77,7,9.0,both,Regularly busy,Slowest days,Average orders
2,2,2,473747,1,prior,3,3,12,21.0,196,...,1,195,Soda,77,7,9.0,both,Regularly busy,Slowest days,Most orders
3,3,3,2254736,1,prior,4,4,7,29.0,196,...,1,195,Soda,77,7,9.0,both,Least busy,Slowest days,Average orders
4,4,4,431534,1,prior,5,4,15,28.0,196,...,1,195,Soda,77,7,9.0,both,Least busy,Slowest days,Most orders

In [61]:
# Check 2

orders_products_merged.shape

(32434212, 21)

Q5. Print the frequency

In [62]:
# Printing frequency

orders_products_merged['busiest_period_of_day'].value_counts()

busiest_period_of_day
Most orders       16143132
Average orders    15694264
Fewest orders       596816
Name: count, dtype: int64

Q7. Export the dataframe

In [63]:
 # Exporting pickle file

orders_products_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_v2_updated.pkl'))